<div class="row">
  <div class="col-xs-12">
    <footer>
      <div class="row">
        <div class="col-xs-12">
          <p>PARA MAIS INFORMAÇÃO CONSULTE OS SEGUINTES LINKS</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2 footer_link col-sm-offset-1"><a href="http://www.kendo.pt/">Associação Portuguesa de Kendo</a></div>
        <div class="col-sm-2 footer_link"><a href="http://www.ekf-eu.com/">Associação Europeia de Kendo</a></div>
        <div class="col-sm-2 footer_link"><a href="https://www.kendo-fik.org/">Federação Internacional de Kendo</a></div>
        <div class="col-sm-2 footer_link"><a href="http://www.djodob.de/">Associação Alemã de Jodo</a></div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Copyright &copy; <a href="https://github.com/asakazekan/">Asakazekan</a></p>
        </div>
      </div>
    </footer>
  </div>
</div>