<div class="row">
  <div class="gallery">
    <ul class="images">
      <li><img class="img-responsive" src="images/1.jpg" alt="simplistic 1"></li>
      <li><img class="img-responsive" src="images/2.jpg" alt="simplistic 2"></li>
      <li><img class="img-responsive" src="images/3.jpg" alt="simplistic 3"></li>
      <li><img class="img-responsive" src="images/4.jpg" alt="simplistic 4"></li>
      <li><img class="img-responsive" src="images/5.jpg" alt="simplistic 5"></li>
    </ul>
  </div>
</div>