<header>
    <div class="row">
        <div id="logo" class="col-xs-12">
            <img class="col-sm-2 col-xs-4" src="images/logo.png" style="padding-bottom: 5px;height:100%">
            <div id="logo_text" class="col-sm-10 col-xs-8" height="100%">
                <!-- class="logo_colour", allows you to change the colour of the text -->
                <h1><a href="index.html">Asakazekan 朝風館</a></h1>
                <h2>
                    <span class="logo_colour">JODO</span> –
                    <span class="logo_colour">IAIDO</span> –
                    <span class="logo_colour">KENDO</span>
                </h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <nav>
                <ul class="sf-menu col-xs-12" id="nav">
                    <li class="col-sm-2 col-xs-12"><a class="page-link" href="index.html">Home</a></li>
                    <li class="col-sm-2 col-xs-12 sf-parent">
                        <a href="#">Artes<span class="sf-arrow"></span></a>
                        <ul style="left: auto; z-index: 1016; display: none;">
                            <li><a href="artes_jodo.html">ZNKR Jodo</a></li>
                            <li><a href="artes_iaido.html">ZNKR Iaido</a></li>
                            <li><a href="artes_kendo.html">Kendo</a></li>
                        </ul>
                    </li>
                    <li class="col-sm-2 col-xs-12"><a class="page-link" href="historia.html">História</a></li>
                    <li class="col-sm-2 col-xs-12"><a class="page-link" href="instrucao.html">Instrutores</a></li>
                    <li class="col-sm-2 col-xs-12"><a class="page-link" href="informacoes.html">Informações</a></li>
                    <li class="col-sm-2 col-xs-12"><a class="page-link" href="links.html">Links</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>