<div id="sidebar_container" class="column col-sm-3 col-xs-12">
    <div class="sidebar col-xs-12" >
      <h3>Contactos</h3>
      <h4>Redes sociais</h4>
      <ul id="fb">
        <li><a href="https://www.facebook.com/Asakazekan-Iaido-Jodo-Kendo-236862729718702">Asakazekan Jodo</a></li>
        <li><a href="https://www.facebook.com/Asakazekan-Iaido-236862729718702/">Asakazekan Iaido</a></li>
        <li><a href="https://www.facebook.com/asakazekan.aveiro">Asakazekan Kendo</a></li>
      </ul>
      <h4>Email</h4>
      <ul>
        <li>(Jodo) jodo.cjiv&#64;gmail.com</li>
        <li>(Iaido) iaido.cjiv&#64;gmail.com</li>
        <li>(Kendo) kendo.cjiv&#64;gmail.com</li>
      </ul>
      <h4>Telefone</h4>
      <ul id="phone">
        <li>(Jodo) 00351 939 901 326</li>
        <li>(Iaido) 00351 917 107 897</li>
        <li>(Kendo) 00351 917 805 595</li>
      </ul>
      <h4>Sede oficial</h4>
      <ul>
        <li>Asakazekan - Clube de Jodo e Iaido do Vouga</li>
        <li>Rua Dr. João Araújo Correia, n.º 62, 2.º Esquerdo</li>
        <li>Lugar do Carregal</li>
        <li>3880-010 Ovar, Portugal</li>
      </ul>
    </div>
</div>